html, body {
    background: rgb(52, 58, 64);
    background: linear-gradient(159deg, rgba(52, 58, 64, 1) 0%, rgba(83, 98, 113, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.custom-nav {
    width: 100% !important;
    color: white;
}

.custom-nav span {
    padding-left: 10px;
    font-size: 23px;
}

.video {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.18)
}

hr {
    border-top: thin solid #ffffff;
    padding-top: 25px;
}

.card-avatar {
    width: 80%;
    margin-top: -60px;
    padding-bottom: 15px;
}

h4 {
    color: #ffffff !important;
}

@media (max-width: 539px) {
    div.row.mt-4{
        display: block;
    }
    div.card {
        width: 90vw;
    }
}